src/main/mule/demo2-req.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="bd74c3bd-e16b-4ce7-a333-47650883cfe5" basePath="/api/" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="61650528-7112-411c-87e4-07a9829885f3" basePath="test">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo2-reqFlow" doc:id="c7449a23-3afa-4d1a-88af-a69f84cd2539" >
		<http:listener doc:name="Listener" doc:id="7d50ac23-3c5a-4827-8244-128a3a353a3e" config-ref="HTTP_Listener_config" path="/{test1}/{test2}"/>
		<logger level="INFO" doc:name="Logger" doc:id="bd958ffe-8309-44d0-b63b-7f85705005ec" />
		<http:request method="GET" doc:name="Request" doc:id="f2e4f05e-1f16-4a48-aa40-abd8179d1c3d" config-ref="HTTP_Request_configuration" path="{test1}/{test2}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	test2 : attributes.uriParams.test2,
	test1 : attributes.uriParams.test1
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="ebbf6786-a5e3-4f60-ade4-c8cc40bbd376" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
